.footer {
  background-color: #ffffffff;
  color: black;
  padding: 1.5rem 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.5rem;
  font-size: 0.9rem;
}

.footer p {
  margin: 0;
}

.social {
  display: flex;
  gap: 1rem;
}

.social a {
  color: black;
  font-weight: bold;
  transition: color 0.2s;
}

.social a:hover {
  color: #fb6161ff;
}
