.chat-container {
  display: flex;
  height: 100%;
  border: 1px solid #ccc;
  border-radius: 10px;
  overflow: hidden;
}

.doctor-image-container {
  flex: 0 0 150px; /* Ancho fijo para la imagen del doctor */
  background-color: #f0f0f0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.chat-interface {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.chat-messages {
  flex: 1;
  padding: 20px;
  overflow-y: auto;
}

.chat-input {
  display: flex;
  padding: 10px;
  border-top: 1px solid #ccc;
}

.chat-input input {
  flex: 1;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.chat-input button {
  padding: 10px 20px;
  margin-left: 10px;
  border: none;
  background-color: #ff69b4; /* Rosa principal */
  color: white;
  border-radius: 5px;
  cursor: pointer;
}
