.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;
  background-color: #ffffffff;
  margin: 0;
  
}

.logo {
  color: #fd0000ff;
  font-size: 1.5rem;
}

.links {
  list-style: none;
  display: flex;
  gap: 1.5rem;
  margin: 0;
  padding: 0;
}

.links a {
  text-decoration: none;
  color: black;
  transition: color 0.2s;
}

.links a:hover {
  color: #fb6161ff;
}
